<div class="m-sm-3">
    <form [formGroup]="new_userdata">
        <div class="mb-3">
            <label class="form-label">User name</label>
            <input class="form-control form-control-lg" type="text" name="name" placeholder="Enter name" 
            formControlName="username"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter email"
            formControlName="email" />
        </div>
        <div class="mb-3">
            <label class="form-label">Contact Number</label>
            <input class="form-control form-control-lg" type="number" name="phoneno" placeholder="Enter Contact Number" 
            formControlName="phoneno"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter password" 
            formControlName="password"/>
        </div>
        <div class="d-grid gap-2 mt-3">
            <a  class="btn btn-lg btn-primary" type="button" (click)="createnewuser()">Create User</a>
        </div>
    </form>
</div>