<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src={{cur_product.image}} class="card-img" alt="imaage of the product">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Product Name:{{cur_product.title}}</h5>
          <p class="card-text">Description:{{cur_product.description}}</p>
          <p class="card-text"><small class="text-muted">Rating:{{cur_product.rating.rate}}</small></p>
          <p class="card-text">category:{{cur_product.category}}</p>
        </div>
      </div>
    </div>
  </div>
