<div class="container-fluid p-0">
    <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>
    <div class="row">
        <!-- for 4 box Components -->
        <div class="col-xl-6 col-xxl-5 d-flex ">
            <div class="w-100">
                <div class="row row-cols-2">
                    <div class="col-sm-6"*ngFor="let card of cards">
                        <app-card [cardData]="card"></app-card>
                    </div>
                </div>
            </div>

        </div> 
        <!-- *ngFor="let card of cards">
            <app-card [cardData]="card"></app-card>
        </div> --> 
        <!-- for graph component -->
        <div class="col-xl-6 col-xxl-7">
            <div class="card flex-fill w-100">
                <div class="card-header">
    
                    <h5 class="card-title mb-0">Recent Movement</h5>
                </div>
                <div class="card-body py-3">
                    <div class="chart chart-sm">
                        <!-- <canvas id="chartjs-dashboard-line"></canvas> -->
                    <!-- <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'"> </canvas> -->
                 <canvas baseChart width="400" height="400"
                 [type]="'line'"    
                 [data]="lineChartData"
                 [options]="lineChartOptions"
                 [legend]="lineChartLegend">
                </canvas>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!--  -->
          
